<h3>User Page</h3>
<div class="row">
 <button id="fixtures" class="waves-effect waves-light btn m2">
    Get Tipping!
  </button>
  <p>show leaderboard here - could show this on seperate page</p>
  <p>show users tips for most recent round</p> 
  <p>show everyones tips for most recent round once game 1 starts</p> 
  <p>maybe recent round results</p>
</div>
<h3>Admin Page</h3>
<div class="row">
  <button id="download-fixture" class="waves-effect waves-light btn m2">
    Download Fixtures
  </button>
  <button id="download-teams" class="waves-effect waves-light btn m2">
    Download Teams
  </button>
  <button id="download-standings" class="waves-effect waves-light btn m2">
    Download Standings
  </button>
  <button id="winning-teams" class="waves-effect waves-light btn m2">
    Winning Teams
  </button>
  <button id="fixture-details" class="waves-effect waves-light btn m2">
    Fixtures with team details
  </button>
</div>