    <button id="download-fixture" class="btn btn-primary">
      Download Fixtures
    </button>
    <button id="download-teams" class="btn btn-primary">
      Download Teams
    </button>
    <button id="download-standings" class="btn btn-primary">
      Download Standings
    </button>
    <button id="winning-teams" class="btn btn-primary">
      Winning Teams
    </button>
    <button id="fixture-details" class="btn btn-primary">
      Fixtures with team details
    </button>