<div class="row">
    <form class="signup col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="first-name-input" type="text" class="validate">
                <label for="first-name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last-name-input" type="text" class="validate">
                <label for="last-name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select id="fav-team-input">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Adelaide</option>
                    <option value="2">Brisbane Lions</option>
                    <option value="3">Carlton</option>
                    <option value="4">Collingwood</option>
                    <option value="5">Essendon</option>
                    <option value="6">Fremantle</option>
                    <option value="7">Geelong</option>
                    <option value="8">Gold Coast</option>
                    <option value="9">Greater Western Sydney</option>
                    <option value="10">Hawthorn</option>
                    <option value="11">Melbourne</option>
                    <option value="12">North Melbourne</option>
                    <option value="13">Port Adelaide</option>
                    <option value="14">Richmond</option>
                    <option value="15">St Kilda</option>
                    <option value="16">Sydney</option>
                    <option value="17">West Coast</option>
                    <option value="18">Western Bulldogs</option>
                </select>
                <label>AFL team you support the most</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email-input" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password-input" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Sign Up</button>
    </form>

    <p>Or log in <a href="/">here</a></p>

</div>

{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> --}}
{{!-- <script type="text/javascript" src="js/signup.js"></script> --}}